/* FREE */
.osmap-items ul {
    margin: 0 0 9px 25px;
}

/* PRO */
.osmap-items ul li {
    white-space: pre-line;
}

.osmap-items ul.level_0.columns_2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.osmap-items ul.level_0.columns_3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.osmap-items ul.level_0.columns_4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}

@media (max-width: 850px) {
    .osmap-items ul.level_0.columns_4 {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

}

@media (max-width: 600px) {
    .osmap-items ul.level_0.columns_3,
    .osmap-items ul.level_0.columns_4 {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 320px) {
    .osmap-items ul.level_0.columns_2,
    .osmap-items ul.level_0.columns_3,
    .osmap-items ul.level_0.columns_4 {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
